.apl01{
    margin: 100px 20px;
    padding: 30px;
}

.table1 td{
    padding: 5px 20px;
}

.table2 td{
    padding: 5px 20px;
}

.btn{
    padding: 10px;
    margin: 20px;
    background-color: lightgreen;
}
input{
    padding: 5px;
    width: 250px;
}
select{
    padding: 5px;
    width: 264px;
}

input.date{
    padding: 5px;
    width: fit-content;
}

textarea{
    padding: 5px;
    width: 250px;
}

.uploadbukti{
    margin: 100px 20px;
    padding: 30px;
}

.uploadbukti h1{
    padding-bottom: 30px;
}
.table3 td{
    padding: 5px;
}